@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    color: black;
    background-color:wheat;
    font-family: "Noto Sans" sans-serif;
    margin: 0px;
}

header{
    border-bottom: solid 4px red;
    padding: 40px;
    background-color: rgb(231, 222, 222);
}
h1 {
    
}